= render 'administration'
.row
  .span6
    = form_for :q, url: admin_addresses_path, class: 'form-horizontal', method: :get do |f|
      %fieldset
        %legend Buscar dirección
        .control-group
          %label.control-label Ciudad
          .controls
            =f.select 'city_id', options_for_select(City.all.map{|city| [city.name, city.id]})
        .control-group
          %label.control-label Zona
          .controls
            = f.text_field 'area', class: 'input-xlarge'
        .control-group
          %label.control-label Calle
          .controls
            = f.text_field 'street', class: 'input-xlarge'
        .form-actions
          =f.submit 'Buscar', class: 'btn'
  .span6
    - if @streets.present?
      = will_paginate @streets
      %ul.well.unstyled
        - @streets.each do |street|
          %li= "#{street.area_city.name} > #{street.area.name} > #{street.name}"

.row
  .span6
    %h2.bottom-margin-1 Direcciones
    #addresses_list
      .row
        .span2
          %h4.bottom-margin-1.span2 Ciudades
          %form{action: '/admin/cities'}
            %input.span2.add_city{type:'text', placeholder: 'Nombre', name: 'city[name]'}
            %botton.btn.btn-primary#add_city agregar ciudad
          %input#filter_city.span2{type: 'text', placeholder: 'filtrar ciudad'}
          %hr
          #cities_list
            - @cities.each do |city|
              %table.table.table-striped.table-bordered.city_table.filterable{:id=> dom_id(city), :data=> {'city-id'=> city.id, 'city-name' => city.name} }
                %tbody
                  %tr
                    %td
                      %a.city_link= city.name
                      =image_tag 'spinner.gif', class: 'hidden'
                  %tr
                    %td
                      .btn-group
                        %a.btn.edit Editar
                        %a.btn.trash Eliminar
        .span2
          #areas
        .span2
          #streets{data: {stores: Store.all.to_json}}
  .span6
    #properties_controller
  