%h2 Direcciones
#addresses_list
  .btn-toolbar
    -[['city','Ciudad'], ['area', 'Zona'], ['street', 'Calle']].each do |address_element|
      .btn-group.bottom-margin-2{:class=> "#{address_element.first}_actions"}
        %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          =address_element.last
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => '#', :id =>"add_#{address_element.first}"} Agregar
          %li
            %a{:href => '#', :id =>"merge_#{address_element.first}"} Fusionar
          %li
            %a{:href => '#', :id =>"delete_#{address_element.first}"} Borrar
      =render 'modal', :modal_id => "admin_addresses_#{address_element.first}_actions", :title=>"#{address_element.last}"
  #addresses_tab
    .tabbable.tabs-left
      %ul.nav.nav-tabs#cities_tabs
        - @cities.each do |city|
          %li
            %a.city_tab{:href=>"#city_#{city.id}", :data=>{:toggle=>"tab", 'city-id'=> city.id}}
              = city.name
      .tab-content#cities_contents
        - @cities.each do |city|
          .tab-pane.city_pane{id: dom_id(city)}
            Cargando ...