= render 'administration'

.row
  %h3.bottom-margin-1 Clientes Contact Center
.row
  / .span2=link_to 'Clientes Olo', olo_admin_clients_path, class: 'btn btn-large'
  .span2=link_to 'Fusión de clientes', merge_admin_clients_path, class: 'btn btn-large'
.row  
  = search_form_for [:admin,@search], :html=>{:class=>'well form-search top-margin-1 filter'} do |f|
    =f.text_field :phones_number_start, :class=> 'input-medium search-query', :placeholder=>'Telefono'
    =f.text_field :phones_ext_start, :class=> 'input-medium search-query', :placeholder=>'Extensión'
    =f.text_field :first_name_cont, :class=> 'input-medium search-query', :placeholder=>'Nombre'
    =f.text_field :last_name_cont, :class=> 'input-medium search-query', :placeholder=>'Apellido'
    =f.text_field :idnumber_cont, :class=> 'input-medium search-query', :placeholder=>'Cedula'
    =f.text_field :email_cont, :class=> 'input-medium search-query', :placeholder=>'Email'
    =f.submit 'Buscar', :name=>nil, :class=> 'btn'
    %a.btn#clear_phone_search{ href: '#'} Limpiar
  - if @clients.any?
    =will_paginate @clients
    %table.table.table-striped.table-bordered.table-condensed#clients_list
      %thead
        %th= sort_link @search, :id, "ID"
        %th= sort_link @search, :first_name, 'Nombre'
        %th= sort_link @search, :last_name, "Apellido"
        %th= sort_link @search, :email, "Email"
        %th= sort_link @search, :idnumber, "Cédula"
        %th= sort_link @search, :created_at, "Creación"
        %th Importado
        %th Activo
        %th Telefonos y extentión
        %th 
      %tbody
        -@clients.each do |client|
          %tr{:data=>{'client-id'=> client.id}, :id=>dom_id(client)}
            %td= client.id
            %td= client.first_name
            %td= client.last_name
            %td= client.email
            %td= number_to_cedula(client.idnumber)
            %td= l client.created_at, :format => :short
            %td= link_to client.imported.to_s, '#', class: "btn #{set_state_class(client.imported)}"
            %td= link_to client.active.to_s, '#', class: "btn #{set_state_class(client.active)}"
            %td
              %a.expand_phones{ href: '#'} Expandir
              %ul.hidden_phone_list.unstyled.none
                - client.phones.each do |phone|
                  - if phone.ext.present?
                    %li="#{number_to_phone(phone.number)} ext#{phone.ext}"
                  -else
                    %li=number_to_phone(phone.number)
            %td
              .btn-group
                =link_to 'Detalles', [:admin, client], class: 'btn'
                =link_to 'Eliminar', [:admin, client], method: :delete, :data => { :confirm => '¿Seguro que desea eliminar este client?' } , :class=> 'btn '
    =will_paginate @clients