= render 'administration'

=link_to '<i class="icon-arrow-left"></i> Clientes'.html_safe, admin_clients_path, class: 'btn bottom-margin-1'
.row
  .span4
    .well
      .row.bottom-margin-1
        .span4
          %h3 Información del cliente
          %span.label.label-info Haga click en los diferentes campos para editarlos
      .row
        .span4
          %strong Nombre:
          = best_in_place @client, :first_name
      .row
        .span4
          %strong Apellido:
          =best_in_place @client, :last_name          
      .row
        .span4
          %strong Cedula:
          =best_in_place @client, :idnumber, :display_as => :cedula
      .row
        .span4
          %strong Correo:
          =best_in_place @client, :email
      .row
        .span4.client_active
          %strong Activo:
          =best_in_place @client, :active, type: :checkbox, collection: ['No', 'Si']
    .well#phones_list
      .row
        .span4        
          %h3 Telefonos
          %a#add_phone{href: '#'}
            Agregar
          =render 'modal', :modal_id => 'add_phone_modal', :title=>'Agregar Telefono'
      %hr
      #client_phone_list
        -@client.phones.order('created_at DESC').each do |phone|
          =render 'modal', :modal_id => "edit_phone_modal_#{phone.id}", :title=>'Editar Telefono'
          .client_phone{:id=> dom_id(phone), :data=> {'phone'=> phone.to_json}}
            .row
              .span3
                .btn-group.right
                  %button.btn.btn_edit
                    %i.icon-edit
                  %button.btn.btn_trash
                    %i.icon-trash
            .row
              .span4
                %strong Numero:
                =number_to_phone phone.number
            - if phone.ext.present?
              .row
                .span4
                  %strong extensión:
                  =phone.ext
          %hr 
    .well#addresses_list
      .row
        .span4        
          %h3 Direcciones
          %a#add_address{href: '#', data: {cities: City.all.to_json(only: [:id, :name])}}
            Agregar
          =render 'modal', :modal_id => "add_address_modal", :title=>'Agregar Dirección'
      %hr
      #client_address_list
        -@client.addresses.order('created_at DESC').each do |address|
          =render 'modal', :modal_id => "edit_address_modal_#{address.id}", :title=>'Editar Dirección'
          .client_address{:id=> dom_id(address),  :data=> {'address'=> address.to_json(include: { street: { include: { area: {include: { city: {}}}}}})}}
            .row
              .span3
                .btn-group.right
                  %button.btn.btn_edit
                    %i.icon-edit
                  %button.btn.btn_trash
                    %i.icon-trash
            .row
              .span4
                %strong Ciudad:
                =address.street_area.city.name
            .row
              .span4
                %strong Sector:
                =address.street_area.name
            .row
              .span4
                %strong Calle:
                =address.street.name
            .row
              .span4
                %strong Numero:
                =address.number
            .row
              .span4
                %strong Tipo:
                =address.unit_type
            -if address.unit_number
              .row
                .span4
                  %strong Numero de unidad:
                  =address.unit_number
            -if address.postal_code
              .row
                .span4
                  %strong Codigo postal:
                  =address.postal_code

            -if address.delivery_instructions
              .row
                .span3
                  %strong instrucciones de entrega:
              .row
                .span4
                  =address.delivery_instructions
            %hr 
      
  .span8#carts_list
    - if @carts.any?
      %h3 Ordenes
      %hr
      =will_paginate @carts
      -@carts.each do |cart|
        .row
          .span2
            %strong Agente:
            =cart.user.full_name
          .span2.offset2
            =l cart.created_at, format: :short
        .row
          .span2
            %strong Monto de la orden:
            =number_to_currency(cart.payment_amount) || 'N/A'
          .span2.offset2
            %strong Modo de servicio:
            =cart.service_method || 'N/A'

        .row{:data=>{'cart-id'=> cart.id}, :id=>dom_id(cart)}
          %table.table.table-striped.table-bordered.table-condensed.span8
            %thead
              %tr
                %th Cantidad
                %th product
                %th Optiones
                %th Precio              
            %tbody
              -cart.cart_products.each do |cart_product|
                %tr
                  %td= cart_product.quantity
                  %td= cart_product.product.productname
                  %td= cart_product.product.niffty_options
                  %td= cart_product.priced_at
        %hr 
      =will_paginate @carts
    -else
      %h3 Este cliente no tiene ordenes aún