%table.table
  %tbody
    - @users_per_carts_by_counts.each do |user_carts|
      / %li= debug user_carts
      %tr
        %td= user_carts["user"].full_name
        %td= user_carts[:carts_count]
        %td= number_to_currency user_carts[:payment_amount]
%table.table
  %tbody
    - @users_per_carts_by_avgs.each do |user_carts|
      / %li= debug user_carts
      %tr
        %td= user_carts["user"].full_name
        %td= user_carts[:carts_count]
        %td= number_to_currency user_carts[:payment_amount]

%table.table
  %tbody
    - @store_per_carts_by_counts.each do |store_carts|
      / %li= debug store_carts["store"].name
      %tr
        %td= store_carts["store"].name
        %td= store_carts[:carts_count]
        %td= number_to_currency store_carts[:payment_amount]
%table.table
  %tbody
    - @store_per_carts_by_avgs.each do |store_carts|
      / %li= debug user_carts
      %tr
        %td= store_carts["store"].name
        %td= store_carts[:carts_count]
        %td= number_to_currency store_carts[:payment_amount]