.row
  .span3
    %h2 Ordenes
.row
  .span3
    =select_tag :mailboxes, options_for_select( [['Mover a archivados', 'archivados'], ['Mover a eliminados', 'eliminados']]), :prompt=> 'Mover a un mailbox'
.row
  .span12#carts_list
    = search_form_for [:admin,@search], :url => admin_carts_path, :html=>{:class=>'well form-search top-margin-1 filter'} do |f|
      =f.text_field :user_first_name_cont, :class=> 'input-medium search-query', :placeholder=>'Nombre del agente'
      =f.text_field :user_last_name_cont, :class=> 'input-medium search-query', :placeholder=>'Apellido del agente'
      =f.text_field :client_phones_number_cont, :class=> 'input-medium search-query', :placeholder=>'Telefono del cliente'
      =f.text_field :created_at_gteq, :class=> 'input-medium search-query', :placeholder=>'Creado después de '
      =f.text_field :created_at_lteq, :class=> 'input-medium search-query', :placeholder=>'Creado antes de '
      =f.submit 'Buscar', :name=>nil, :class=> 'btn'
      %a.btn#clear_cart_search{ href: '#'} Limpiar
    - if @carts.any?
      =will_paginate @carts
      .tabbable.tabs-left
        %ul.nav.nav-tabs
          - Cart.valid_mailboxes.each do |mailbox|
            %li
              %a{:id => mailbox, :href=>"#cart_#{mailbox}", :data=>{:toggle=>"tab"}}
                = mailbox
        .tab-content
          - Cart.valid_mailboxes.each do |mailbox|
            .tab-pane{id: "cart_#{mailbox}"}
              %table.table.table-striped.table-bordered.table-condensed
                %thead
                  %th selección
                  %th ID
                  %th ID orden Pulse
                  %th Cliente
                  %th Telefono
                  %th Agente
                  %th Monto
                  %th 
                %tbody
                  -@carts.each do |cart|
                    - if cart.in?(mailbox)
                      %tr{:data=>{'cart-id'=> cart.id}, :id=>dom_id(cart)}
                        %td
                          %input.select_for_move{type:'checkbox'}
                        %td= cart.id
                        %td= cart.store_order_id
                        %td
                          - if cart.client.present?
                            = cart.client.full_name
                        %td
                          - if cart.client.present?
                            - if  cart.client.last_phone
                              = number_to_phone cart.client.last_phone.number
                        %td= cart.user.full_name
                        %td= number_to_currency cart.payment_amount
                        %td= link_to 'Detalles', [:admin,cart]
      =will_paginate @carts