.row
  .span3
    .well
      .row.bottom-margin-1
        .span4
          %h3 Mis datos
      .row
        .span4
          %strong Nombre:
          = @user.first_name 
      .row
        .span4
          %strong Apellido:
          =@user.last_name
      .row
        .span4
          %strong Cedula:
          =number_to_cedula @user.idnumber
      .row
        .span4
          %strong Roles:
          =@user.roles.to_a.to_sentence

      .row
        .span4
          %strong Inicios de sesión:
          =@user.login_count
  .span9#carts_list
    - if @carts.count.nonzero?
      %h3 Ordenes
      %hr
      .btn-group.bottom-margin-2
        =link_to 'Todas', users_path, class: 'btn search_cart_btn', id: 'btn_all'
        =link_to 'Completadas', users_path(search: 'completed'), class: 'btn search_cart_btn', id: 'btn_completed'
        =link_to 'Incompletas', users_path(search: 'incomplete'), class: 'btn search_cart_btn', id: 'btn_incomplete'
        =link_to 'Anuladas', users_path(search: 'abandoned'), class: 'btn search_cart_btn', id: 'btn_abandoned'
        =link_to 'Fallas de comunicación', users_path(search: 'comm_failed'), class: 'btn search_cart_btn', id: 'btn_comm_failed'

      = will_paginate @carts
      -@carts.each do |cart|
        .row
          .span3
            %strong Agente:
            =cart.user.full_name
          .span3
            %strong Inicio:
            =l cart.started_on, format: :short if cart.started_on
        .row
          .span3
            %strong Monto de la orden:
            = number_to_currency(cart.payment_amount) || 'N/A'
          .span3
            %strong Modo de servicio:
            =cart.service_method || 'N/A'
        .row
          .span3
            %strong Forma de pago:
            = cart.payment_type || 'N/A'
          .span3
            %strong ID en pulse:
            = cart.store_order_id || 'N/A'
        .row
          .span3
            %strong Tipo fiscal:
            = cart.fiscal_type || 'N/A'
          .span3
            %strong Número fiscal:
            =cart.fiscal_number || 'N/A'
        .row
          .span3
            %strong Inicio:
            =l cart.started_on, format: :short if cart.started_on
          .span3
            %strong Completada:
            =l cart.complete_on, format: :short if cart.complete_on
        .row
          .span3
            %strong Tiempo:
            = "#{cart.take_time.round} segundos" if cart.take_time
          .span3
            %strong Tipo de pago:
            = cart.payment_type
        - if cart.coupons.count.nonzero?
          .row
            #client_coupons_list
              %table.table.table-striped.table-bordered.table-condensed.span8
                %thead
                  %th Codigo
                  %th Descripcion Generada
                  %th Precio minimo
                %tbody
                  - cart.cart_coupons.each do |cart_coupon|
                    %tr[cart_coupon]
                      %td.span1= cart_coupon.coupon.code
                      %td= cart_coupon.coupon.generated_description
                      %td
                        - if cart_coupon.coupon.minimum_price
                          = number_to_currency cart_coupon.coupon.minimum_price

        .row{:data=>{'cart-id'=> cart.id}, :id=>dom_id(cart)}
          %table.table.table-striped.table-bordered.table-condensed.span9
            %thead
              %tr
                %th Cantidad
                %th producto
                %th Optiones
                %th Precio              
            %tbody
              -cart.cart_products.each do |cart_product|
                %tr
                  %td= cart_product.quantity
                  %td= cart_product.product.productname
                  %td= cart_product.product.niffty_options
                  %td= number_to_currency cart_product.priced_at
        %hr 
      = will_paginate @carts
    -else
      %h3 No tienes ordenes aún