.row
  .span3
    .well
      .row.bottom-margin-1
        .span4
          %h3 Mis datos
      .row
        .span4
          %strong Nombre:
          = @user.first_name 
      .row
        .span4
          %strong Apellido:
          =@user.last_name
      .row
        .span4
          %strong Cedula:
          =number_to_cedula @user.idnumber
      .row
        .span4
          %strong Roles:
          =@user.roles.to_a.to_sentence

      .row
        .span4
          %strong Inicios de sesión:
          =@user.login_count
  .span9#carts_list
    - if @carts.count.nonzero?
      %h3 Ordenes
      %hr
      = will_paginate @carts
      -@carts.each do |cart|
        .row
          .span3
            %strong Cliente:
            = cart.client.full_name if cart.client
          .span3
            %strong Inicio:
            =l cart.started_on, format: :short
          .span3
            %strong Completada:
            =l cart.complete_on, format: :short
        .row
          .span3
            %strong Monto de la orden:
            =number_to_currency(cart.payment_amount) || 'N/A'
          .span3
            %strong Modo de servicio:
            =cart.service_method || 'N/A'
          .span3
            %strong Tiempo:
            = "#{cart.take_time.round} segundos"

        .row{:data=>{'cart-id'=> cart.id}, :id=>dom_id(cart)}
          %table.table.table-striped.table-bordered.table-condensed.span9
            %thead
              %tr
                %th Cantidad
                %th product
                %th Optiones
                %th Precio              
            %tbody
              -cart.cart_products.each do |cart_product|
                %tr
                  %td= cart_product.quantity
                  %td= cart_product.product.productname
                  %td= cart_product.product.niffty_options
                  %td= number_to_currency cart_product.priced_at
        %hr 
      = will_paginate @carts
    -else
      %h3 No tienes ordenes aún