.row
  .span4
    .well
      .row.bottom-margin-1
        .span4
          %h3.bottom-margin-1 Información del cliente
          %span.label.label-info Haga click en los diferentes campos para editarlos
          =link_to "<i class='icon-share'></i> Consulta e importación de olo 2".html_safe, '#', class: 'btn top-margin-1', id: 'importar_values', data: { idnumber: @client.idnumber , client_id: @client.id } if @client.idnumber.present?
          =render 'modal', :modal_id => "olo_values_override", :title=>'Traer valores'
      .row
        .span4
          %strong Nombre:
          = best_in_place @client, :first_name
      .row
        .span4
          %strong Apellido:
          =best_in_place @client, :last_name          
      .row
        .span4
          %strong Cedula:
          =best_in_place @client, :idnumber, :display_as => :cedula
      .row
        .span4
          %strong Correo:
          =best_in_place @client, :email
      .row
        .span4.client_active
          %strong Activo:
          =best_in_place @client, :active, type: :checkbox, collection: ['No', 'Si']
    .well#phones_list
      .row
        .span4        
          %h3 Teléfonos
          %a#add_phone{href: '#'}
            Agregar
          =render 'modal', :modal_id => 'add_phone_modal', :title=>'Agregar Telefono'
      %hr
      #client_phone_list
        -@client.phones.order('created_at DESC').each do |phone|
          =render 'modal', :modal_id => "edit_phone_modal_#{phone.id}", :title=>'Editar Telefono'
          .client_phone{:id=> dom_id(phone), :data=> {'phone'=> phone.to_json}}
            .row
              .span3
                .btn-group.right
                  - unless phone.client_target?
                    %button.btn.set_last_phone
                      %i.icon-star
                  %button.btn.btn_edit
                    %i.icon-edit
                  %button.btn.btn_trash
                    %i.icon-trash
            .row
              .span4
                - if phone.client_target?
                  %i.icon-star
                %strong Numero:
                =number_to_phone phone.number
            - if phone.ext.present?
              .row
                .span4
                  %strong extensión:
                  =phone.ext
          %hr 


    .well#tax_numbers_list
      .row
        .span4        
          %h3 Números fiscales
          %a#add_tax_number{href: '#'}
            Agregar
          =render 'modal', :modal_id => 'add_tax_number_modal', :title=>'Agregar RNC'
      %hr
      #client_tax_numbers_list
        -@client.tax_numbers.order('created_at DESC').each do |tax_number|
          =render 'modal', :modal_id => "edit_tax_number_modal_#{tax_number.id}", :title=>'Editar RNC'
          .client_tax_number{:id=> dom_id(tax_number), :data=> {'tax-number'=> tax_number.to_json}}
            .row
              .span3
                .btn-group.right
                  %button.btn.btn_edit
                    %i.icon-edit
                  %button.btn.btn_trash
                    %i.icon-trash
            .row
              .span4
                %strong RNC:
                = tax_number.rnc
            .row{class: "#{tax_number.verified? ? '' : 'hidden'}"}
              .span4
                %strong Tipo fiscal:
                = tax_number.tipo_fiscal
            .row{class: "#{tax_number.verified? ? '' : 'hidden'}"}
              .span4
                %strong Nombre: 
                = tax_number.company_name
            .row
              .span4
                %strong Verificado:
                =link_to tax_number.verified.to_s, '#', class: 'btn btn-info verified'
          %hr 
    .well#addresses_list
      .row
        .span4        
          %h3 Direcciones
          %a#add_address{href: '#', data: {cities: City.all.to_json(only: [:id, :name])}}
            Agregar
          =render 'modal', :modal_id => "add_address_modal", :title=>'Agregar Dirección'
      %hr
      #client_address_list
        -@client.addresses.order('created_at DESC').each do |address|
          =render 'modal', :modal_id => "edit_address_modal_#{address.id}", :title=>'Editar Dirección'
          .client_address{:id=> dom_id(address),  :data=> {'address'=> address.to_json(include: { street: { include: { area: {include: { city: {}}}}}})}}
            .row
              .span3
                .btn-group.right
                  - unless address.client_target?
                    %button.btn.set_last_address
                      %i.icon-star
                  %button.btn.btn_edit
                    %i.icon-edit
                  %button.btn.btn_trash
                    %i.icon-trash
            .row
              .span4
                - if address.client_target?
                  %i.icon-star
                %strong Ciudad:
                =address.street_area.city.name if address.street && address.street.area
            .row
              .span4
                %strong Sector:
                =address.street_area.name if address.street && address.street.area
            .row
              .span4
                %strong Calle:
                =address.street.name
            .row
              .span4
                %strong Numero:
                =address.number
            .row
              .span4
                %strong Tipo:
                =address.unit_type
            -if address.unit_number
              .row
                .span4
                  %strong No. de apartamento:
                  =address.unit_number
            -if address.postal_code
              .row
                .span4
                  %strong Codigo postal:
                  =address.postal_code

            -if address.delivery_instructions
              .row
                .span3
                  %strong instrucciones de entrega:
              .row
                .span3
                  =address.delivery_instructions
            %hr 
      
  .span8#carts_list
    - if @carts.any?
      %h3 Ordenes
      %hr
      =will_paginate @carts
      -@carts.each do |cart|
        = render '/admin/carts/cart', cart: cart
        %hr 
      =will_paginate @carts
    -else
      %h3 Este cliente no tiene ordenes aún