= render 'admin_products'

%h3.bottom-margin-1 Tiendas
=link_to 'Agregar Tienda', new_admin_store_path, class: 'btn bottom-margin-1'
- if @stores.any?  
  =will_paginate @stores
  %table.table.table-striped.table-bordered.table-condensed#stores_list
    %thead
      %th Nombre
      %th Dirección
      %th ip
      %th ciudad
      %th ID
      %th Conexión
      %th 
    %tbody
      -@stores.each do |store|
        %tr{:data=>{'store-id'=> store.id}, :id=>dom_id(store)}
          %td= store.name
          %td.span4= store.address
          %td= store.ip
          %td= store.city.name
          %td= store.storeid
          %td=link_to 'Verificar', '#', class: 'btn test_store_connection', data: { store_id: store.id}
          %td
            .btn-group
              =link_to 'Productos', [:admin, store], class: 'btn'
              =link_to 'Editar', edit_admin_store_path(store), class: 'btn'
              =link_to 'Eliminar', [:admin, store], method: :delete, :data => { :confirm =>  '¿Seguro que desea Eliminar esta tienda?'} , class: 'btn '
  =will_paginate @stores