- if @products.any?
  %h3= "Productos para #{@store.name}"
  =will_paginate @products
  %table.table.table-striped.table-bordered.table-condensed#products_list{:data=>{"store-id"=> @store.id}}
    %thead
      %th Categoría
      %th Disponible
      %th Productname
      %th Productcode
      %th Options
      %th Flavorcode
      %th Sizecode
    %tbody
      -@products.each do |product|
        %tr{:data=>{'product-id'=> product.id}, :id=>dom_id(product)}
          %td= product.category.name
          %td
            -if store_product(@store, product).present?
              =link_to store_product(@store, product).available.to_s , "/admin/store_products/#{store_product(@store, product).id}", class: "store_product_change_state_available  btn #{store_product_class(@store, product)}"
            -else
              =link_to 'Asignar', '/admin/store_products', class: 'create_store_product'
          %td= product.productname
          %td= product.productcode
          %td= product.options
          %td= product.flavorcode
          %td= product.sizecode
  =will_paginate @products