= render 'administration'

#actions
  =link_to '<i class="icon-arrow-left"></i> Atras'.html_safe, builder_path, class: 'btn bottom-margin-1'
  =link_to '<i class="icon-trash"></i> Anular'.html_safe, '#', class: 'btn bottom-margin-1', id: 'abandon_cart'
  =render 'abandon'
  =link_to '<i class="icon-gift"></i> Descuento'.html_safe, '#', class: 'btn bottom-margin-1', id: 'discount_cart'
  = render 'discount'
  =link_to '<i class="icon-briefcase"></i> Exoneración'.html_safe, '#', class: 'btn bottom-margin-1'
  =link_to '<i class="icon-share"></i> Dejar incompleta'.html_safe, '#', class: 'btn bottom-margin-1'
.row
  .span4
    .well
      .row.bottom-margin-1
        .span4
          %h3 Información del cliente
      .row
        .span4
          %strong Nombre:
          = @cart.client.first_name
      .row
        .span4
          %strong Apellido:
          = @cart.client.last_name
      .row
        .span4
          %strong Cedula:
          = number_to_cedula @cart.client.idnumber
      .row
        .span4
          %strong Correo:
          = @cart.client.email
      - if @cart.client.tax_numbers.count.nonzero?
        .row
          .span4
            %strong Números fiscales disponibles:
            %select
              = @cart.client.tax_numbers.each do |tax_number|
                %option{value: ''} Seleccione un RNC
                %option{value: tax_number.id}= "#{tax_number.rnc} - #{tax_number.tipo_fiscal}"
    .well#phones_list
      .row
        .span4        
          %h3 Datos de contacto
      %hr
      #client_phone_list
        .client_phone{:id=> dom_id(@cart.client.last_phone), :data=> {'phone'=> @cart.client.last_phone.to_json}}
          .row
            .span4
              %strong Numero:
              =number_to_phone @cart.client.last_phone.number
          - if @cart.client.last_phone.ext.present?
            .row
              .span4
                %strong extensión:
                = @cart.client.last_phone.ext
          %hr 
      #client_address_list
        -if @cart.client.last_address
          .client_address{:id=> dom_id(@cart.client.last_address)}
            .row
              .span4
                %strong Ciudad:
                = @cart.client.last_address.street_area.city.name
            .row
              .span4
                %strong Sector:
                = @cart.client.last_address.street_area.name
            .row
              .span4
                %strong Calle:
                = @cart.client.last_address.street.name
            .row
              .span4
                %strong Numero:
                = @cart.client.last_address.number
            .row
              .span4
                %strong Tipo:
                = @cart.client.last_address.unit_type
            -if @cart.client.last_address.unit_number
              .row
                .span4
                  %strong No. de apartamento:
                  = @cart.client.last_address.unit_number
            -if @cart.client.last_address.postal_code
              .row
                .span4
                  %strong Codigo postal:
                  =@cart.client.last_address.postal_code

            -if @cart.client.last_address.delivery_instructions
              .row
                .span3
                  %strong instrucciones de entrega:
              .row
                .span4
                  = @cart.client.last_address.delivery_instructions
            %hr 
      
  .span8#checkout_cart{data: {id: @cart.id }}
    - if @cart
      %h3 Orden
      %hr 
      .row
        .span3
          %strong Agente:
          =@cart.user.full_name
        .span3
          %strong Orden iniciada en:
          =l @cart.started_on, format: :short
      .row
        .span3#checkout_cart_net
          %strong Monto neto:
          =number_to_currency(@cart.net_amount) || 'N/A'
        .span3
          %strong Modo de servicio:
          =@cart.service_method || 'N/A'
      .row
        .span3#checkout_cart_tax
          %strong Impuestos:
          =number_to_currency(@cart.tax_amount) || 'N/A'
        .span3
          %strong Tienda:
          =@cart.store.name
      .row
        .span3#checkout_cart_total
          %strong Monto de la orden:
          =number_to_currency(@cart.payment_amount) || 'N/A'
        .span3#checkout_cart_discount
          %strong Descuento:
          =number_to_currency(@cart.discount) || '0'
      - unless @cart.cart_products.all? { | cart_product | cart_product.available_in_store(@cart.store) }
        .row
          .alert.span7
            %strong advertencia 
            Algunos productos no están disponible en esta tienda
      - if @cart.coupons.count.nonzero?
        .row
          #client_side_coupons_list
            %table.table.table-striped.table-bordered.table-condensed.span8
              %thead
                %th Codigo
                %th Descripcion Generada
                %th Precio minimo
                %th
              %tbody#quick_coupons
                - @cart.coupons.each do |coupon|
                  %tr
                    %td.span1= coupon.code
                    %td= coupon.generated_description
                    %td= coupon.try(:minimum_price)
                    %td.span1= link_to 'Remover', '#', class: 'btn'
      .row{:data=>{'cart-id'=> @cart.id}, :id=>dom_id(@cart)}
        %table.table.table-striped.table-bordered.table-condensed.span8
          %thead
            %tr
              %th Cantidad
              %th product
              %th Optiones
              %th Precio 
              %th             
          %tbody
            - @cart.cart_products.each do |cart_product|
              %tr{id: dom_id(cart_product), class: availability_class(cart_product.available_in_store(@cart.store))}
                %td.span1=text_field_tag 'cart_product[quantity]', cart_product.quantity, class: 'checkout_input'
                %td= cart_product.product.productname
                %td= cart_product.product.niffty_options
                %td.item_price
                  - if cart_product.priced_at
                    = number_to_currency(cart_product.priced_at)
                  - else
                    pendiente
                %td.span1
                  =link_to 'Remover', '#', class: 'btn'
      %hr 