%thead
  %th Tipo
  %th Fecha y hora
  %th PDF
  %th CSV
  %th Generado hace
%body
  - @reports.each do |report|
    %tr[report]
      %td= report.name
      %td= l report.created_at, format: :long
      %td= link_if_exists report.pdf_file
      %td= link_if_exists report.csv_file
      %td= time_ago_in_words report.created_at