= render 'reports'
.row
  .span12
    %h1 Listado de reportes generados
    %br
    = link_to 'Generar nuevo reporte', new_admin_report_path, class: 'btn btn-success'
.row
  .span12
    = will_paginate @reports
    %table#reports_list.table
      = render 'reports_list'
    = will_paginate @reports