= render 'reports'
= simple_form_for [:admin, @report], html: { class: 'form-horizontal'} do |f|
  %legend Generar reporte
  = f.input :name, as: :select, collection: Report.report_types.zip(Report.report_types), include_blank: false
  %fieldset
    = label_tag 'Fecha y hora inicial'
    = datetime_select("start_time",'datetime', :default => Time.zone.now - 1.day, :ampm => true)
    %hr
    = label_tag 'Fecha y hora de final'
    = datetime_select("end_time",'datetime', :default => Time.zone.now, :ampm => true)
  .form-actions
    =f.button :submit
    = link_to 'Cancelar', admin_users_path, :class => 'btn'