= @result
= render 'reports'
.row
  .span4
    .row
      .span4
        %h4.bottom-margin-1 Listado de reportes consolidados generados
        = will_paginate @reports
        %ul#detailed_reports.unstyled.well
          -@reports.each do |report|
            - unless report.pdf_file.file.nil?
              %li
                =link_to report.pdf_file.file.identifier, report.pdf_file_url
        = will_paginate @reports
  .span8
    .row
      .span8#report_sumary_filter
        = form_for :sumary_report, :url => admin_report_sumary_path, :html=>{ :class=>'form-horizontal top-margin-1 filter' }, method: :get do |f|
          %fieldset
            %legend Filtro
            .alert
              %strong Advertencia
              No olvide crear un filtro antes de Generar el reporte
            .control-group
              =f.text_field :start_date, :class=> 'input-medium datepicker', :placeholder=>'Creado después de '
              =f.text_field :end_date, :class=> 'input-medium datepicker', :placeholder=>'Creado antes de '
            .form-actions
              =f.submit 'Filtrar', :name=>nil, :class=> 'btn btn-primary'
              %a.btn#report_clear_search{ href: "#{admin_report_sumary_path}"} Limpiar
        
        =link_to 'Generar reporte', admin_report_sumary_path(params: params), method: :post, class: 'btn bottom-margin-1'
    .row
      .span8
        %h4 Proeba de Filtro
        %hr
        %table.table.table-striped.table-bordered.table-condensed
          %thead
            %th No. Orden
            %th Tienda
            %th Nuevo cliente
            %th Cliente
            %th Fecha
            %th Modo de servicio
            %th Agente
            %th Monto de la order
            %th Estado en pulse
          %tbody
            -@carts.each do |cart|          
              %tr{:data=>{'cart-id'=> cart.id}, :id=>dom_id(cart)}
                %td= cart.id
                %td= cart.store_info
                %td= cart.new_client?
                %td= cart.client_info
                %td= cart.completion_info
                %td= cart.service_method
                %td= number_to_cedula cart.user.idnumber
                %td= number_to_currency cart.payment_amount
                %td= cart.try(:order_progress)