= content_for :subnav do
  .subnav.subnav-fixed
    %ul.nav.nav-pills
      %li= link_to 'Tiendas', admin_stores_path
      - if current_user.is? [:admin]
        %li= link_to 'Categorías', admin_categories_path
      %li= link_to 'Cupones', admin_coupons_path
      - if current_user.is? [:admin]
        %li= link_to 'Importación', admin_import_logs_path