= content_for :subnav do
  .subnav.subnav-fixed
    %ul.nav.nav-pills
      %li= link_to 'Clientes', admin_clients_path
      %li= link_to 'Direcciones', admin_addresses_path
      %li= link_to 'Agentes', admin_users_path
      %li= link_to 'Razones', admin_reasons_path
      %li= link_to 'Numeros Fiscales', admin_taxpayer_identifications_path
      -if current_user.is? [:admin]
        %li= link_to 'Comunicación', admin_settings_path