!!!
%html
  %head
    %title= @title || "Domino's"
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "http://#{Kapiqua.node_url || Kapiqua.defaults[:node_url]}/socket.io/socket.io.js"
    %meta{name: 'node_url', content: "#{Kapiqua.node_url || Kapiqua.defaults[:node_url]}"}
    = javascript_include_tag "application"
    = csrf_meta_tags
    -if user_signed_in?
      %meta{:content => "#{current_user.auth_token}", :name => "user"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body{id: controller_name}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .brand Domino's
          .nav-collapse
            -if user_signed_in?
              =render_navigation :expand_all => true, :renderer => :bootstrap
            %ul.nav.pull-right
              -if user_signed_in?
                %li#current_username{data: { idnumber: current_user.idnumber } }= link_to current_user.full_name, '#'
                %li.divider-vertical
                %li= link_to "Cerrar Sesión", logout_path, :id=>'end_session'
              -else
                %li= link_to "Iniciar sesión", login_path
    = render :partial => 'cart_info' if user_signed_in? && (!current_user.is? :admin)
    = yield :subnav if user_signed_in? && (current_user.is? :admin)
    .container.bottom-margin-1
      .row
        .span12
          - flash.each do |name, msg|
            %div{:class => "alert alert-#{name == :notice ? "success" : name }"}
              %a.close{"data-dismiss" => "alert"} ×
              = msg
          / =current_cart.inspect if Rails.env.development?
          = yield
      - if user_signed_in?
        .row#utils
          .span12
            .row
              %span.label.label-info#close_utils Ocultar
            .row
              %ul.nav.nav-tabs.top-tabs#utils_labels
                %li
                  %a{href: '#chat'} Ayuda
                - unless current_user.is? :admin || current_cart.nil?
                  %li
                    %a{href: '#coupons'} Cupones
              .tab-content
                .tab-pane{id:'chat'}
                  = render 'chat'
                - unless current_user.is? :admin || current_cart.nil?
                  .tab-pane{id:'coupons'}
                    = render 'coupons'
    #footer.bottom-margin-3
