!!!
%html
  %head
    %title= @title || "Domino's"
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "http://#{Kapiqua.node_url || Kapiqua.defaults[:node_url]}/socket.io/socket.io.js"
    %meta{name: 'node_url', content: "#{Kapiqua.node_url || Kapiqua.defaults[:node_url]}"}
    = javascript_include_tag "application"
    = csrf_meta_tags
    -if user_signed_in?
      %meta{:content => "#{current_user.auth_token}", :name => "user"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body{id: controller_name}
    .container.bottom-margin-1
      .row
        .span12
          - flash.each do |name, msg|
            %div{:class => "alert alert-#{name == :notice ? "success" : name }"}
              %a.close{"data-dismiss" => "alert"} ×
              = msg
          / =current_cart.inspect if Rails.env.development?
          = yield
      - if user_signed_in?
        #current_username{data: { idnumber: current_user.idnumber } }
        .row#utils
          .span12
            .row
              %span.label.label-info#close_utils Ocultar
            .row
              %ul.nav.nav-tabs.top-tabs#utils_labels
                %li
                  %a{href: '#chat'} Ayuda
              .tab-content
                .tab-pane{id:'chat'}
                  = render 'chat'
    #footer.bottom-margin-3
